#hand {
    padding: 10px;
    border: 1px solid black;
    width: 65%;
    float: left;
    min-height: 175px;
}

#hand img, #drop img {
    width: 100px;
    margin-right: 10px;
}

#drop {
    width: 30%;
    float: right;
    border: 1px solid black;
    height: 175px;
    padding: 10px;
}